<div class="grid grid-cols-2">
  <div>
    <app-form-disbursement-form></app-form-disbursement-form>
  </div>
  <div class="w-full text-center flex flex-col gap-4 mt-8">
    <div>
      <app-generic-table
      [dataList]="dataList"
      [columnList]="columnList"
      [actionMenu]="actionMenu"
      (onSelectdropdownMenu)="selectedActionButton($event)">  
      >  
      <!-- (onSelectdropdownMenu)="selectedActionButton($event)" -->
      
      </app-generic-table>
      </div>
  </div>
</div>