
<div class="flex justify-center items-center bg-slate-300 h-screen w-full">
  <form class="p-6 w-full flex flex-col space-y-3" action="">
    <div class="flex flex-col w-full">
      <label for="firstname">Firstname</label>
      <input class="w-full" type="text">
    </div>
    <div class="flex flex-col w-full">
      <label for="lastname">Lastname</label>
      <input class="w-full" type="text">
    </div>
    <div class="flex flex-col w-full">
      <label for="email">Email</label>
      <input class="w-full" type="email">
    </div>
    <div class="flex flex-col w-full">
      <label for="password">Password</label>
      <input class="w-full" type="password">
    </div>
    <div class="flex flex-col w-full">
      <label for="password">Password</label>
      <input class="w-full" type="password">
    </div>
    <div class="w-full">
      <button class="bg-green-500 text-white py-4 font-semibold rounded-[25px] w-full" type="submit">Sign Up</button>
    </div>
    <p>I'm already a member! Login</p>
  </form>
</div>