<div class="h-screen bg-red-500 flex flex-col py-4 gap-8">
  <h2 class="mx-4 text-2xl font-semibold">Brand</h2>
  <form class="flex flex-col px-4 py-2 mx-4 bg-white rounded-[10px]" action="">
    <input class="outline-none border-none sm:text-xs md:text-xl" type="text" placeholder="Search for...">
  </form>
  <div class="flex flex-col gap-4 mx-4">
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Dashboard</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Features</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Users</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Pricing</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Integrations</p>
    </div>
  </div>
  <hr class="border-[1px] border-[#bdb9b9]">
  <div class="flex flex-col gap-4 mx-4">
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Authentication</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Settings</p>
    </div>
    <div class="flex">
      <p class="sm:text-md sm:font-semibold md:text-xl">Template pages</p>
    </div>
  </div>
  
</div>




