<div class="flex">
  <div class="w-full px-10">
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-1 gap-4 min-h-32 text-white md:grid-cols-2 lg:grid-cols-4">
        <div class="py-6 px-4 bg-blue-400 w-full rounded-xl text-center">
          <h2 class="md:text-lg text-base">Total Population</h2>
          <p class="md:text-4xl font-medium text-3xl">233,783,818</p>
        </div>
        <div class="py-6 px-4 bg-red-400 w-full rounded-xl text-center">
          <h2 class="md:text-lg text-base">Youth Percentage</h2>
          <p class="md:text-4xl font-medium text-3xl">71.66%</p>
        </div>
        <div class="py-6 px-4 bg-green-400 w-full rounded-xl text-center">
          <h2 class="md:text-lg text-base">Registered Citizens</h2>
          <p class="md:text-4xl font-medium text-3xl">8,783,818</p>
        </div>
        <div class="py-6 px-4 bg-purple-400 w-full rounded-xl text-center">
          <h2 class="md:text-lg text-base">Bachelor Percentage</h2>
          <p class="md:text-4xl font-medium text-3xl">43.37%</p>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 min-h-[25rem]">
        <div class=" px-4 py-6 bg-gray-100 rounded-xl">
          <app-chart1></app-chart1>
        </div>
        <div class=" px-4 py-6 bg-gray-100 rounded-xl">  
          <app-chart2></app-chart2>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div *ngIf="chartData.length > 0" class="px-4 py-6 bg-gray-100 rounded-xl">
          <!-- <app-pie-chart [data]="maritalStatusData"></app-pie-chart> -->
        </div>
        <div *ngIf="pieChartDatas.length > 0" class=" px-4 py-6 bg-gray-100 rounded-xl">
          <app-donut-chart [data]="genderData"></app-donut-chart>    
        </div>
      </div>
    </div>
  </div>
</div>
